[2021-01-13 23:43] nathan-sav opened #54 "Deployed a cluster, scaling past 2 nodes failed, now can't start any"
Just deployed this with following values:

- clustering.enabled: true
- postgres72 db config
- ingress true with nginx/https/tlssecretname set appropriately
- volumes.*.persistentVolumeClaim: true

This seemed to work great initially, was able to login and run through the initial setup. After this I tried scaling up to 2 nodes which also worked. Increasing to 3, the 3rd node would not start (simil

[2021-01-14 11:18] kennymacleod commented on #54
Hi @nathan-sav, thanks for filing the ticket. Could you include the logs of the 3rd pod also, please. I'm not aware of a problem scaling to 3 nodes (I just tried it myself to be sure). Did you use one of the versioned published charts, or did you package it from source?

[2021-01-14 18:14] nathan-sav commented on #54
I just blew away the cluster and recreated from scratch, ran into the pod 3 issue again. Full log is attached, pod2 booted fine again.
[pod3.txt](https://github.com/atlassian-labs/data-center-helm-charts/files/5816222/pod3.txt)

Just using your published chart (helm install jira atlassian-data-center/jira -n jira  -f values.yaml)

[2021-01-14 18:15] nathan-sav commented on #54
I just blew away the cluster and recreated from scratch, ran into the pod 3 issue again. Full log is attached, pod2 booted fine again.
[pod3.txt](https://github.com/atlassian-labs/data-center-helm-charts/files/5816235/pod3.txt)

Just using your published chart (helm install jira atlassian-data-center/jira -n jira -f values.yaml)

[2021-01-15 04:00] bianchi2 commented on #54
Can't reproduce either. @nathan-sav what K8s installation do you have? On-prem, public cloud? Also, I'd look at where the 3rd pod is scheduled, which node? I sometimes had situations on my self made K8s cluster that pods placed onto the same node can reach each other using pod IPs. Just an assumption though.

[2021-01-15 08:51] kennymacleod commented on #54
@nathan-sav I'm thinking you may have a DB connectivity issue here. Perhaps the database hasn't been configured with enough connections, and the 3rd Jira node is hanging trying to get some.

Please note also that we have a known issue with restarting Jira pods at the moment. This happens when the restarted pod gets a different IP address to the previous pod (which is most of the time), and Jira is

[2021-01-15 21:54] nathan-sav commented on #54
On prem, deploying with kubespray and using the crunchydata postgres operator with pgbouncer. Interestingly, I dropped pgbouncer here and just connected directly to postgres and now I can't reproduce this (even though I don't see any limits on pgbouncer that would cause this). I'll keep digging, but does seem to be some sort of DB issue here and you can close this :)

[2021-01-15 21:56] #54 closed

[2021-01-16 09:24] bianchi2 commented on #54
thanks for the update @nathan-sav, and do share your feedback :)

[2021-02-03 04:08] jareddohrman opened #75 "NFS-FIXER pod starts before PVC created"
Hi,

I ran into something rather unusual when using `nfsPermissionFixer:`

[code]

I noticed that the `nfs-fixer` would time out waiting for the condition

[code]

After scratching my head until I was bald, I noticed I could alter the pre-install value in `nfs-permission-fixer.yaml`

Before:
[code]

After:
[code]

This appears to have resolved one of my problems.

The second problem was the actual

[2021-02-15 07:26] bianchi2 commented on #75
@jareddohrman thanks for your comment. In fact, changing pre to post install may result in some race conditions where Jira pod start earlier than the permission fixer. So, while it "fixed" the problem, it's rather a workaround. I wonder what was the initial problem with the fixer pod. Was it waiting for the pvc to be bound? Did you capture k8s events?

As to nfs fixer command, uid and gid should b

[2021-02-15 08:22] pbruski commented on #75
Do we have any logs from the fixer? And anyway, yes, EFS worked for out of the box, without any permission-related problems.

[2021-02-15 09:16] kennymacleod commented on #75
The fixer pod *has* to be a pre-install hook, since the products will fail to start correctly if the permissions on the shared-home volume are too restrictive. The fixer pod spec depends on the PVC being present, though, so I don't understand why it wouldn't be.

Note also that the fixer pre-install hook is optional. There's an item in `values.yaml` where you can disable it entirely. To our knowle

[2021-02-15 09:39] jareddohrman commented on #75
I'm happy to try it again, but for us, the NFS-fixer pod would sit waiting for a PVC that never shows up.
[code]

RE permissions: it appears it only sets the group and not the user
[code]
I would then get a Jira is locked show in the logs.

[2021-02-15 09:41] jareddohrman commented on #75
Also to add, we're using Jira 8.5.4/Confluence 7.4.4 (I know, old versions - but matching what we have on-premise in order for us to go-live)

[2021-02-15 09:56] bianchi2 commented on #75
@jareddohrman I'd capture k8s events in your jira namespace just after helm install. I bet a PVC is sitting there in a Pending state. Is there an auto PV provisioner setup in your cluster or you manually create volumes that use efs storage class?

[2021-02-15 09:59] jareddohrman commented on #75
I let `watch kubectl get pvc` run for ~ 15 minutes with no results
`kubectl get events` showed only the nfs-fixer popping up, but nothing else
Switching `pre-` to `post-` has fixed it for us.

I may, in the future, considering creating the PVC ahead of time, and pre-loading it with the required files before a deployment (about ~1TB of files exist on our local instance)

[2021-02-15 10:05] bianchi2 commented on #75
[code]
shared home PVC template has this, and it's weird Helm did not create it first for you. I'll check it in a local cluster once again.

[2021-02-17 05:38] bianchi2 commented on #75
@kennymacleod I think I reproduced it. It looks like when `Values.volumes.sharedHome.persistentVolumeClaim.create` is set to true, Helm indeed creates it before other objects that will use it, however, not for this nfs fixer pod, since it is a pre-install hook.

I have it in a pending state too (Minikube rules :) ):

[code]
@jareddohrman thanks for reporting it. I think most of the testing has bee

[2021-02-17 06:26] jareddohrman commented on #75
you're welcome. Is there a step in between pre-install/post-install? ;)

[2021-02-17 08:10] pbruski commented on #75
Isn't that the codepath that we are testing on AWS with Bitbucket?

[2021-02-17 08:39] bianchi2 commented on #75
@pbruski it does not look like we use NFS permission fixer pod at all in EKS tests. We do enable it for GKE, but volumes.sharedHome.persistentVolumeClaim.create is false. No, both are never true in our tests.

The issue's easy to reproduce by setting:
[code]
when running Helm upgrade. Shared home pvc is never created and nfs fixer pod is pending as expected.

[2021-02-17 09:10] bianchi2 commented on #75
@jareddohrman pre-install hook in Helm means that before processing and creating any other templates, those with pre-install hook annotation are created first. Nfs fixer pod requires a shared home PVC, but Helm is going to create this PVC only after pre-hook objects are created and the nfs fixer pod had done its job :) Chicken and egg problem here.

[2021-02-17 09:18] pbruski commented on #75
Maybe we should make the permission fixer part of the Docker images?

[2021-02-17 09:58] bianchi2 commented on #75
@pbruski only if the entrypoint is configurable. We don't need permission fixer too often, and for OpenShift for example it's not needed at all in most cases. Maybe an init container in a stateful set?

[2021-02-17 11:06] pbruski commented on #75
Well, as long as keep it configurable, we can make it a part of the python startup script on the image.

[2021-03-01 05:24] bianchi2 opened #80 "Make securityContext more configurable on pod and container level"
Currently, Helm charts only allow enabling securityContent.fsGroup while it's common to use runAsUser and runAsGroup too (moreover, it's often mandatory). Please, add those to [stateful set templates](https://github.com/atlassian-labs/data-center-helm-charts/blob/master/src/main/charts/confluence/templates/statefulset.yaml#L24) and make them configurable in values.yaml.

Perhaps, it makes sense to

[2021-03-02 03:54] Boojapho opened #81 "Managed Synchrony in Confluence"
Currently, you have two options for Synchrony in the Confluence helm chart:
1) Deploy with Synchrony disabled, which sets `-Dsynchrony.btf.disabled=true`
2) Or deploy with Synchrony enabled, which deploys a Statefulset, Service, entry point, etc. for a stand-alone Synchrony

I would like to add another option to provide a [Synchrony managed by Confluence](https://confluence.atlassian.com/doc/set-u

[2021-03-02 04:50] Boojapho commented on #81
I have a branch on my local machines with the changes for review.   I don't have permission to push a new branch to the repo.  Can you grant me access so I can push the code and start a pull request?

[2021-03-02 14:13] Boojapho commented on #81
Pull Request: #82

[2021-03-16 12:27] pbagewadi-athene opened #84 "Can we use the helm chart for production setup?"
Hi Team,
We are planning to setup Jira and Confluence on AWS EKS, as per the readme file, the charts are experimental and unsupported but the version 0.5.0 has verified check. So can we use this version to setup apps on AWS EKS production?

[2021-03-16 14:19] bordenit opened #85 "Additional variables do not seem to work properly"
Here is an example configmap that does work....
[code]

I tried adding ATL_TOMCAT_CONTEXTPATH variable using the helm chart and I think it maybe puts it in the wrong place. You could possibly group all the container variable options under data in configmap like the above.

[2021-03-16 14:59] bordenit commented on #85
Actually, this issue is that your readiness probe in the helm chart is not automatically updated if a contextpath is used. For example, if you have context path as /jira, then the readiness probe path should auto-update to /jira/status

[2021-03-19 09:38] pbagewadi-athene opened #88 "Login infinite loop if there is more than 1 pod [istio]"
@kennymacleod @bkwiatek-atlassian ,
I am facing login issues when I scale the pods to >1. This works when there is only one pod.
I found the resolution in Atlassian docs.
But how can I incorporate the change in helm through values.yaml ?

Resolution is to add JVM_EXTRA_ARGS (-DjvmRoute=respective node id) in setenv.sh

Resolution
Verify that node name(s) are consistent across the configuration ele

[2021-03-19 13:40] bianchi2 commented on #88
@pbagewadi-athene the fix is implemented, though I am not sure it's available in the public tags now. Also, your ingress need to have session affinity annotations. Which ingress controller do you use?

[2021-03-19 13:42] bianchi2 commented on #84
@pbagewadi-athene there's no official support until it's announced. You may deploy charts and we'd appreciate feedback (and PRs :) ) however, there's no official support yet.

[2021-03-20 10:08] bordenit opened #89 "Plug-in caches and jira home lock file issue"
Recommend creating option and default init container to dump the plug-in caches and lock file before the container starts. Containers don't start up reliably without dumping the caches and lock file in the 267 iterations I tried, so I built the dumping of these files into a self-healing script for now, but it should proactively just dump those files before it starts.

[2021-03-20 10:41] bordenit commented on #89
https://confluence.atlassian.com/jirakb/troubleshoot-a-jira-server-startup-failed-error-394464512.html

"JIRA applications were shut down incorrectly, or failed to shut down" is one of the reasons for the lock file getting created. Pods may start and stop during rolling patching of servers and this should be able to handle this activity on its own without preventing itself from starting.

[2021-03-21 17:43] bianchi2 commented on #89
@bordenit  thanks for the suggestion. Can you perhaps share the script and elaborate on how exactly Jira pods occasionally refused to start (stacktraces)? As far as I understand you had corrupt caches from time to time, and it'd be great to have an automated way to flush them? Please, correct me if I am wrong :)

[2021-03-21 18:08] bordenit commented on #89
I can include a stack trace the next time it happens, but it's basically this error:

https://community.atlassian.com/t5/Jira-questions/jira-startup-failed/qaq-p/1215226

So, I delete the .jira-home.lock file and flush the plugin caches in .bundled-plug-ins and .osgi-plug-ins in both the shared-home and home directories (as best can be deleted when these files are in use by the pods). Typically, t

[2021-03-22 05:23] pbagewadi-athene commented on #88
@bianchi2 We are using Istio. Currently I see 0.5.0 tag is available. Could you guild me on how to resolve or let me know when it will be released ?

[2021-03-22 05:31] pbagewadi-athene commented on #84
@bianchi2 any ETA on date when it may be released and officially supported? We are planning to move to datacenter on AWS EKS cluster in April-May. As of now, I am facing login issues and opened https://github.com/atlassian-labs/data-center-helm-charts/issues/88.

[2021-03-22 06:55] bianchi2 commented on #89
thanks @bordenit indeed, a valid issue. I am not sure an init container is the best solution though - this init pod will flush cashes every time the container restarts, until the pod spec is updated to remove the init container. What you can do now is to define your [init container in values.yaml](https://github.com/atlassian-labs/data-center-helm-charts/blob/master/src/main/charts/jira/values.yam

[2021-03-22 07:01] bianchi2 opened #91 "Make it possible to enable debug logging for selected packages"
Currently, there's no way to provide own log4j.properties. Even though logs level can be changed in runtime, it'd be great to be able to define log level for selected packages.

Perhaps it's worth adding a configmap which is mounted as a file to WEB-INF/classes? Even though charts allow defining additional volume mounts and volumes, one needs to create a configmap with log4j.properties, mount it i

[2021-03-22 08:19] bianchi2 commented on #88
@nanux do you happen to know if the fix with overwriting clusterID in cluster.properties in Jira is available in the public tags on DockerHub now? If so, which version?

[2021-03-23 11:02] pbagewadi-athene commented on #88
@bianchi2 @nanux @kennymacleod @bkwiatek-atlassian
Any idea when it will be released for use?

[2021-03-30 03:22] dylanrathbone commented on #75
Helm installs manifests based the kind priority listing defined [here](https://github.com/helm/helm/blob/release-2.10/pkg/tiller/kind_sorter.go#L29)

This means the manifests defined for the Jira chart will be installed in this order

Priority | manifest | k8s resource
------------ | -------------  | -------------
1                    | config-jvm                     | ConfigMap
2 | configmap-flue

[2021-04-06 22:32] #75 closed

[2021-04-07 09:41] pathob opened #100 "Interested in Crowd chart?"
Hey guys,

we need a Crowd chart, are currently working on it and would be interested in upstreaming it. The initial version my colleages created is based on your Confluence chart. Any chances to get this merged if we create a pull request?

Thanks,
Patrick

[2021-04-13 11:57] pathob commented on #100
@dylanrathbone @wkritzinger-atlassian @pbruski @nanux @bordenit

Any opinion in this?

[2021-04-13 12:31] nanux commented on #100
Sorry @pathob for the delay. We are considering adding the support for Crowd helm chart in future we just made a decision to not include it in the initial scope. I believe we can include the contribution but the main consideration here is that we need to make clear that it is in Atlassian cannot officially support customers using it. Providing official support means additional activities we will n

[2021-04-13 12:33] nanux commented on #85
@bordenit I believe this was fixed by the above. Did it solve the issue for you?

[2021-04-13 21:26] bordenit commented on #85
Yes, it is resolved with the context path updates. Thanks.

[2021-04-13 21:52] bordenit commented on #89
I believe the issue is a resource issue where Kubernetes itself does not load balance properly. If the pods or plugins fail to start, we force it to start on a different node to resolve the issue. The plug-in startup is very resource intensive and kicks the cpu on servers well over 100%. Hopefully, plug-in startup can be made less resource intensive, but you can close this for now, as we have a wo

[2021-04-14 05:41] #85 closed

[2021-04-15 11:59] pathob commented on #100
Thank you @nanux , my colleague Louis created the PR now: https://github.com/atlassian-labs/data-center-helm-charts/pull/106

[2021-05-02 21:14] jesseborden commented on #89
Kubernetes upgraded to v1.19.9 and same issues. 100% failure rate in first startup attempt. Flush cache, remove lock file, delete pod, wait, repeat is the workaround. We disabled McAfee on access scanner, increased JVM memory, catalina_opts startup timeout. Ticket is opened with Atlassian support, but it’s looking like moving to a VM or Ec2 instance might be the best idea. Tracking one more lead f

[2021-05-13 00:59] #100 closed

[2021-05-13 06:31] smarch730 opened #129 "Make ingress path configurable"
Currently the ingress path for all applications is set to "/". Can this be changed to be a configurable value?

[code]

[2021-05-13 06:46] bianchi2 commented on #129
@smarch730 that's a good feature request. Running on non root context is quite common. PRs are welcome btw :)

[2021-05-13 07:51] smarch730 commented on #129
@bianchi2 thanks for the fast reply. I'll work on getting a PR in :)

[2021-05-13 07:51] #129 closed

[2021-05-21 06:38] smarch730 opened #141 "Crowd nfsPermissionFixer Job runs before PVC created causing error (Run via Terraform)"
I have a weird issue with the crowd chart where setting the nfsPermissionFixer value to true (thus enabling the k8s job object) errors on the helm build as the job runs before the PVC is created. This keeps the job container in a pending state.

The event on the pending job pod is:

According to [this](https://github.com/helm/helm/blob/main/pkg/releaseutil/kind_sorter.go#L31), the persistentVolume

[2021-05-21 06:55] bianchi2 commented on #141
@smarch730 this issue has been fixed https://github.com/atlassian-labs/data-center-helm-charts/issues/75 but Crowd Helm chart was based on the version that did not have this commit. This k8s job has been replaced with an init container in other charts.

[2021-06-01 03:08] bianchi2 commented on #88
@nanux yes that. Of course, my question makes sense only if the KB correctly explains what causes the error. @pbagewadi-athene what is your Jira image tag?

[2021-06-02 11:18] bordenit commented on #89
This is the fix for this. https://confluence.atlassian.com/jirakb/jira-startup-fails-with-message-that-required-plugins-are-not-started-254738702.html. I did that an restarted pods 10 times and didn't experience the issues again. This can be closed.

[2021-06-02 11:18] #89 closed

[2021-06-10 11:37] pathob opened #171 "Old releases (e.g. 0.5.0) got removed from Helm repo"
Hey guys,

we noticed that some of the old releases (e.g. 0.5.0) got removed from the index.yaml in the repository. I know this project is in a very early stage, but we are also trying to adapt your new charts as soon and as early as possible. Hence two questions: Is there any particular reason why this happened and should we expect this more often?

Thanks for your answers.

Patrick

[2021-06-17 04:58] nanux commented on #171
Hi @pathob, this was a one-off action where we wanted to clean up our development versions from the charts index. The old versions contained missing functionality and potentially could cause problems for the users, so we decided to remove them from the repo.

We are not planning any future removal and since 0.6.0 you can consider the helm charts stable for installation. I would still recommend usi

[2021-06-17 04:58] #171 closed

[2021-06-17 19:27] bordenit opened #180 "Ingress Cleanup"
The ingress could be cleaned up in the following ways:
1. The path in the ingress could be automatically defaulted to the jira.service.contextpath.
2.  The ATL_PROXY_PORT and ATL_PROXY_NAME could perhaps be added in the statefulset, where ATL_PROXY_PORT defaults to 443 and ATL_PROXY_NAME defaults to the ingress.host value.

I noticed in the server.xml the proxyPort and proxyName are empty with the

[2021-06-22 03:31] bordenit opened #185 "Add schedulerName option in helm chart"
When creating volumes with portworx, consider adding schedulerName in the statefulset so that users can set it to "stork".
https://docs.portworx.com/portworx-install-with-kubernetes/storage-operations/hyperconvergence/

[2021-06-23 06:02] bianchi2 commented on #180
@bordenit thanks for your comment. We do set proxy [here](https://github.com/atlassian-labs/data-center-helm-charts/blob/master/src/main/charts/bitbucket/templates/statefulset.yaml#L102) for Bitbucket but indeed, not for Jira.
@nanux did we miss it?

As to ingress - a totally valid request

[2021-06-23 20:48] brunzefb opened #187 "Mirror mode desired"
Hi,

I have deployed the chart, but can't figure out how to get the server in mirror mode.  Any help would be appreciated.

Best,
Friedrich

[2021-06-25 04:21] bianchi2 opened #189 "Jira can't start in clustering mode in OpenShift with EBS local-home storage"
The problem was discovered in OpenShift but can be potentially reproducable in any K8s env where a Jira pod runs as unprivileged user and local home is persisted.

In an OpenShift cluster on AWS, I am using gp2 storage class. A volume is provisioned dynamically. When Jira container starts it executes an entrypoint to generate cluster.properties. It fails to [chown it](https://bitbucket.org/atlassi

[2021-06-25 07:25] bianchi2 opened #190 "False warning on missing volumes"
With `volumes.localHome.persistentVolumeClaim.create: true` and `volumes.sharedHome.persistentVolumeClaim.create: false` but volumes.sharedHome.persistentVolumeClaim.claimName: jira-shared-home` getting this warning:

[code]
which isn't true since both local and shared home are persisted. I just don't let Helm create shared home PVC and pre-created it myself wit the right storage class and annotat

[2021-06-30 12:46] pbagewadi-athene commented on #88
We are using atlassian/jira-software:8.11.1-ubuntu-jdk11.
with latest helm release, login issue is resolved for > 1 instance. but unable to create any issue/tickets, meaning the issue does not get saved. with one instance(pod) works fine.

[2021-06-30 13:57] bianchi2 commented on #88
@pbagewadi-athene what particular error do you see? Sharing a screenshot and logs will certainly help.

[2021-07-01 12:35] pbagewadi-athene commented on #88
1st I thought the issue was with creating tickets, but the issue is still same, I am unable to login back if I create 2 instance.
kubectl scale sts jira --replicas=2

the login page keep on coming back like in loop and does not log me in.
I am using latest helm jira version: 0.11.0 release.

[2021-07-01 12:38] pbagewadi-athene commented on #88
so basically, it keep on being redirected to login page if we scale up the jira instance.

[2021-07-01 12:55] bianchi2 commented on #88
@pbagewadi-athene i guess istio is to blame here. I don't think charts were tested with istio ingress gateway and/or mutual tls. Most likely, the second node never joins the cluster, while your requests land on this new pod. Do you see anything suspicious in logs (both pods)?

[2021-07-01 13:25] pbagewadi-athene commented on #88
Let me check on this and get back on this.
Thank you.

[2021-07-05 04:21] yzha645 commented on #190
Hi Eugene,

I just tested using the same configuration as you did, the warning is not showing up..

For sharedHome pvc name, did you put it into `volumes.sharedHome.persistentVolumeClaim.claimName` as you mentioned above, or `volumes.sharedHome.customVolume.persistentVolumeClaim.claimName`? When `volumes.sharedHome.persistentVolumeClaim.create` is set to false, `customVolume` is the place to hold

[2021-07-05 05:13] bianchi2 commented on #190
@yzha645 my bad. It has to be a customVolume which makes sense :)

[code]

[2021-07-05 05:13] #190 closed

[2021-07-05 10:15] pbagewadi-athene commented on #88
Which all session affinity needs to be added for istio? Could you please help me to list out.
I have added cookie and now it is sending details to only that pod to which it makes connections at first for that user session and now login issues are resolved. But I am worried how the load will be handled in this case if all(majority) users get connected to same pod.

[2021-07-05 15:34] bianchi2 commented on #88
Hi @pbagewadi-athene I don't have a lot of istio experience but usually sticky cookies work the same way - an ingress controller (istio in your case) adds a cookie and requests are sent to the same pod. If you make a request in an incognito tab odds are that your request goes to a different backend pod. The same will happen to your users, so you should expect requests to be evenly spread between J

[2021-07-06 04:47] pbagewadi-athene commented on #88
Yes, after adding sticky cookie the main issue of logging is resolved as the requests are sent to the same pod for a specific user. I see pods in clustering and also tried with incognito and that works just fine.

I will do more testing and share the results. but for now on high level, everything works just fine.

[2021-07-06 07:08] bianchi2 commented on #88
@pbagewadi-athene awesome! We do mention session affinity aka sticky cookies [here](https://github.com/atlassian-labs/data-center-helm-charts/blob/365e096f0dd9edc253cf9bbae737e3651de51a38/docs/CONFIGURATION.md#ingress). Different ingress controllers have different ways to enable and configure those.

[2021-07-07 06:18] nanux commented on #88
@pbagewadi-athene, thanks for the update! I will close the ticket now but if you have some guide on how to set it up in an Istio environment, feel free to add it to the ticket, so it can help somebody else as well.

[2021-07-07 06:19] #88 closed

[2021-07-07 06:21] nanux commented on #81
Hi @Boojapho, as discussed in detail in the PR #82, we are not planning to add this to the current stage. Running 2 separate JVM processes is not good practice in Kubernetes and we've run previously into issues to make it work on different platforms.

[2021-07-07 06:21] #81 closed

[2021-07-07 06:27] nanux commented on #185
Note:
We could consider adding `schedulerName:` into pod spec definition for the application statefulset. If this is undefined, we won't add it to the specification and therefore Kubernetes would pick up the default scheduler. The users would have an option to override the scheduler if they want to.

https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#scheduling

I think

[2021-07-07 07:20] nanux commented on #180
I think this is worth investigating, I will put it in our backlog.

[2021-07-07 07:28] nanux commented on #84
Hi @pbagewadi-athene, sorry for the late response. The Kubernetes support for DC products is on the official roadmap slated for Q4 this year - https://www.atlassian.com/roadmap/data-center?&search=kubernetes

[2021-07-07 07:28] #84 closed

[2021-07-07 07:35] nanux commented on #187
@brunzefb, currently it is not possible to deploy Bitbucket DC via helm chart when part of the deployment would be deployed as upstream and part as mirror(s). Is this the use case you would like to achieve or do you want to use helm charts just to deploy Bitbucket mirror?

The underlying Bitbucket image supports `APPLICATION_MODE` which can be switched to `mirror` but we haven't tested this setup

[2021-07-07 07:46] nanux commented on #189
This is caused by https://bitbucket.org/atlassian-docker/docker-shared-components/src/122a16186e5a861efa7a0a6244fba06c9de97e22/image/entrypoint_helpers.py#lines-64 in the Jira docker image.

@bianchi2 the override was introduced to update the `cluster.properties` file if the IP address of the node changes. Does it mean that the unprivileged user is not able to write to `/var/atlassian/application-

[2021-07-07 09:14] bianchi2 commented on #189
@nanux file generation is OK. chown fails after that. An unprivileged user cannot do it in OpenShift. I wonder why this chown is required at all if the file is generated by a current user in runtime, whatever this user is. So, I assume this user can read it.

[2021-07-09 11:01] nanux commented on #180
This should be fixed now with merged #202. @bordenit could you please test it?

[2021-07-12 03:00] nanux commented on #189
@bianchi2 we are working on it, @tarka will provide more details. It would be great if you could help test the fix on OpenShift.

[2021-07-12 03:35] tarka commented on #189
@bianchi2 There is a test image available with a fix: jira-software/8.18.0-ssmith-perm-build-1

We currently have PRs raised to get this fix in, but some testing from your end would be appreciated.

[2021-07-12 06:27] bianchi2 commented on #189
@tarka @nanux I can confirm cluster.properties is being generated and Jira can start in a clustered mode now. No permission issues spotted.

[2021-07-13 06:55] tarka commented on #189
@bianchi2 Thanks for that. The PR is now merged and new builds pushed out.

[2021-07-13 06:55] #189 closed

[2021-07-13 13:48] #180 closed

[2021-07-13 13:55] bordenit commented on #185
I do think it should be added to the statefulset template and have the option in values.yaml. In our environments the pods don't like to start and volume mounting fails without setting the specific schedulerName to stork.  I have a sed command currently after the helm upgrade that rewrites the schedulerName to stork which enables the pods to move more freely in the cluster.

[2021-07-14 12:07] bordenit opened #204 "Session Affinity Recommendation"
If you are to do load testing of this configuration perhaps consider setting the SessionAffinity in the service to clusterIP. For some reason even with the Session Affinity on the ingress, the backend node will switch on users and then they will have issues with their sessions.

https://kubernetes.io/docs/concepts/services-networking/service/#proxy-mode-userspace

A use case I have experienced:
Lo

[2021-07-20 04:52] bianchi2 commented on #204
@bordenit thanks for your comment. It does make sense. Which ingress controller did you use when having issues of sticky cookie not working, i.e. requests being send to a random service backend?

[2021-07-20 22:59] bordenit commented on #204
@bianchi2 Nginx ingress-controller. I used the configuration available here in the helm chart.

[2021-07-21 07:28] nanux commented on #204
Hi @bordenit, what issues are you experiencing?

If you are using the out-of-the-box Ingress objects, they have `affinity` annotation for nginx ingress-controller:
For example:
https://github.com/atlassian-labs/data-center-helm-charts/blob/master/src/main/charts/jira/templates/ingress.yaml#L11

The `SessionAffinity` property described in [k8s docs](https://kubernetes.io/docs/concepts/services-netw

[2021-07-21 07:41] bianchi2 commented on #204
Sticky cookie from Nginx ingress should be enough to always forward requests to the same backend pod. I haven't experienced any issues with it, though, of course, I never did some extensive testing with hundreds of requests. My understanding is that once a cookie is set in a browser, requests will go to the same replica of a StatefulSet, provided that this replica exists. And this is what I see in

[2021-07-22 19:03] bordenit commented on #204
@nanux We have session affinity set at AWS NLB, using the session cookie and persistent setting with nginx ingress controller, and then set this ClientIP on the service as well. We have a couple hundred users. I plan to try this ClientIP setting anyway during our next update to see what happens. We have no issues when only using 1 pod, but in engineering this setting seemed like an improvement. I’

[2021-07-22 19:03] #204 closed

[2021-07-23 00:53] nanux commented on #204
Thank you @bordenit. Please let us know if you have additional findings after your next update.

[2021-08-04 07:45] jaegar10 opened #224 "Unable to scale stateful sets replica to 2"
Hi,

I am currently using the helm chart by Atlassian to deploy my Confluence Data Center in a Kubernetes cluster.
I am able to do this successfully with 1 replica.

However, upon scaling with this command "kubectl scale statefulset <name> --replicas==2", it will throw an error on my initial first pod - Caused by: com.hazelcast.core.HazelcaseInstanceNotActiveException: Hazelcast instance is not ac

[2021-08-04 11:46] bordenit opened #225 "Synchrony Ingress Path Incorrect"
The ingress path for synchrony is incorrect.

[code]
This should not rely on the .Values.ingress.path as it then nests the synchrony path inside the Confluence contextPath and/or puts synchrony at the same base path, which usually users have to authenticate to with SSO. I fixed it manually by just changing this path to /synchrony in the ingress, as I already have a context path for Confluence.

Th

[2021-08-04 12:03] bordenit commented on #225
On second thought, it will probably always make sense just to make two ingresses.... One for confluence and one for synchrony.

[2021-08-04 21:53] errcode1202 commented on #224
Hi @jaegar10,

Confluence needs to be started with a single pod cluster, once that pod is running it must then be configured [via the setup wizard](https://atlassian-labs.github.io/data-center-helm-charts/installation/INSTALLATION/#9-complete-product-setup). Only when the first pod is configured can you then scale up to p+1 pod's. Can you confirm if you've done this? Multi-pod clustering also reli

[2021-08-04 23:58] badgersow commented on #225
I agree that we shouldn't force people to have Confluence and Synchrony on the same host or with the same context path. I think it's OK to always create a separate ingress for Synchrony - I don't like the idea of having a conditional ingress, as it adds complexity.
We can introduce new values `Values.synchrony.ingress.host` and `Values.synchrony.ingress.path`. They can by default resolve to what t

[2021-08-05 01:49] jaegar10 commented on #224
Hi @errcode1202,

Thanks for getting back.
Yes, I have already configured my first pod via the setup wizard. For e.g, I can access the homepage to create new spaces etc.
It is only after this step that I try to scale the replica to 2 via this command "kubectl scale statefulset --replicas==2".

Regarding the multi-pod clustering prerequisites, I have it all present too (Database, shared home with N

[2021-08-05 02:11] errcode1202 commented on #224
Okay @jaegar10 it sounds like your setup is good. Can you check whether `clustering` is enabled in your `values.yaml` i.e.

https://github.com/atlassian-labs/data-center-helm-charts/blob/master/src/main/charts/confluence/values.yaml#L483

If set to `false` you will need to update it to `true` and apply the change.

[2021-08-05 02:15] jaegar10 commented on #224
Hi @errcode1202 yes, it was already enabled in my values.yaml beforehand.

It still gives me the same issue.....anything else i needa check?

Thanks!

[2021-08-05 06:16] errcode1202 commented on #224
@jaegar10 this might be a `confluence.cfg.xml` misalignment on each pod. Can you supply the output for the command below for each of your pods...

[code]

[2021-08-05 06:29] jaegar10 commented on #224
Hi @errcode1202 I have checked. Both confluence.cfg.xml have the same confluence.cluster properties.
Pls kindly refer to attached for details.

Seeking ur assistance pls!

<img width="546" alt="confluence config" src="https://user-images.githubusercontent.com/88425288/128302155-d707e1e9-e076-4cb3-808b-55f1237f8b91.PNG">
Thanks!

[2021-08-05 06:38] errcode1202 commented on #224
Interesting. Can you supply a zip from each pod for `/var/atlassian/application-data/confluence/logs` please?

[2021-08-05 09:10] jaegar10 commented on #224
Hi @errcode1202 sure, here are the files:
[confluencedc-0 logs.zip](https://github.com/atlassian-labs/data-center-helm-charts/files/6937383/confluencedc-0.logs.zip)
[confluencedc-1 logs.zip](https://github.com/atlassian-labs/data-center-helm-charts/files/6937384/confluencedc-1.logs.zip)
[values.zip](https://github.com/atlassian-labs/data-center-helm-charts/files/6937388/values.zip)

Yes, the k8s c

[2021-08-05 20:02] mbach04 opened #230 "jira pod runs as root"
The main jira/tomcat pod is by default running as the root user or id 0. This is a bad security practice.

[2021-08-05 21:53] errcode1202 commented on #224
Thanks for passing on the files, I'll look into them.

In the meantime can you describe your on premise k8s environment please, for instance what tooling did you use to provision the cluster locally and versions? If your cluster was manually stood up, then there could be issues with inter pod communication depending on how the [K8s networking model ](https://kubernetes.io/docs/concepts/cluster-adm

[2021-08-06 01:16] errcode1202 commented on #224
@jaegar10 I noticed from the logs the following error being repeated:

[code]

These errors then seem to trigger a thread dump...
[code]

I see from your `values.yaml` that you have allocated 2Gi for local home

[code]

It might be worth upping that value to 10Gi. Im not saying this is the cause of the main problem but its definitely feeding into it.

I also see you have the following JVM settings

[2021-08-06 03:17] tarka commented on #230
Hi,

The application does not run as root, but as a dedicated user; the root privileges are dropped as part of entrypoint startup. This can be seen by `exec`ing into the pod:

    # kubectl exec -ti jira-0 -- bash
    root@jira-0:/var/atlassian/application-data/jira# ps axu
    USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
    root         1  0.0  0.0   2508   608 ?

[2021-08-06 10:59] jaegar10 commented on #224
Hi @errcode1202, i have tried ur suggestions of:
1) increasing storage for local home to 10Gi
2) Doubling max heap to 4g

Unfortunately, it still gives me the same error. "Could not open Hibernate session for transaction; nested exception is com.hazelcast.core.HazelcastInstanceNotActiveException: Hazelcast Instance is not active!"

Thanks!

[2021-08-08 21:29] errcode1202 commented on #224
@jaegar10 Im starting to think that this could be an environmental/k8s cluster issue. The Helm charts have been primarily developed and tested on AWS EKS clusters, with Azure AKS and GCP GKE being targeted for additional deployment testing. Could you pass on the details of your K8s cluster and how you went about standing it up. It would be good to try and replicate the issue you are having with Co

[2021-08-09 04:26] bianchi2 commented on #230
@tarka @mbach04 still it may make sense to add securityContext.runsAsUser. I guess in a lot of enterprise clusters pod security policies enforce this. Please note, I am not talking about the app itself (yes, Jira runs as a dedicated user) but a container. I have opened a [feature request](https://github.com/atlassian-labs/data-center-helm-charts/issues/80) some time ago.

[2021-08-11 23:56] errcode1202 commented on #224
@bianchi2, yes there is a correlation between the JVM values and the container request sizes. if upping the JVM values you will also likely need to up the container request sizes so that the JVM memory sizes can be supported:
[code]

@jaegar10 when doing this, and on re-deploying Confluence its worth keeping an eye on the pod events by running

[code]
As @bianchi2 states, you may be having schedul

[2021-08-14 13:23] Forbzy opened #239 "Driver for the database MySQL 5.7 not found"
It appears my database configuration isn't be acknowledged.

Below is my error log.

`2021-08-14 13:12:04,624+0000 JIRA-Bootstrap FATAL      [c.a.jira.startup.JiraStartupLogger] Driver for the database MySQL 5.7 not found. Ensure it is installed in the 'lib' directory.`

Below is the values.yaml for the database.

[code]

How to reproduce.
1. Helm install

[2021-08-14 13:40] Forbzy opened #240 "Unable to create directory for deployment"
Below is the error log.
`14-Aug-2021 13:32:21.183 SEVERE [Catalina-startStop-1] org.apache.catalina.startup.HostConfig.beforeStart Unable to create directory for deployment: [/opt/atlassian/jira/conf/Catalina/localhost]`

I found the solution in your documentation found in the below link.
https://confluence.atlassian.com/jirakb/jira-server-throws-unable-to-create-directory-for-deployment-error-on-

[2021-08-16 05:29] errcode1202 commented on #240
@Forbzy thanks for raising this. There is an existing [ticket](https://jira.atlassian.com/browse/SCALE-46) to address this problem and its on the backlog to be fixed. This error shouldn't prevent the container from starting up though (false positive) and can be ignored.

[2021-08-16 05:37] errcode1202 commented on #239
@Forbzy I think this is a failure on our documentation. There is a [section relating to DB drivers](https://atlassian-labs.github.io/data-center-helm-charts/userguide/CONFIGURATION/#databasedriver), but it not overly clear that the `MySQL` drivers don't ship with Jira, and must be supplied manually. There are details on where the driver `MySQL` driver can be sourced [here.](https://confluence.atla

[2021-08-16 06:22] errcode1202 commented on #239
@Forbzy this is a failure on our documentation's part. Jira doesn't actually ship with the `MySQL` driver and needs to be supplied manually. We do allude to this in the [docs](https://atlassian-labs.github.io/data-center-helm-charts/userguide/CONFIGURATION/#databasedriver) but its easily missed, something that we'll look into addressing. As for getting you up and running, the way to present the dr

[2021-08-17 13:19] Forbzy commented on #240
Ok thanks for letting me know. Will close issue.

[2021-08-17 13:19] #240 closed

[2021-08-18 04:13] bordenit commented on #225
Yes, @badgersow makes perfect sense. I use a kubectl patch with our current deployment to fix the ingress, but looking forward to eliminating the need for that patch.

[2021-08-18 04:18] bordenit commented on #185
@nanux I currently add a kubectl patch just for the schedulerName. I have a collection of 3 or 4 things that I patch due to values.yaml limitations. I think this is a definite need to reduce the Atlassian ticket volume when the solution becomes fully supported.

[2021-08-18 04:55] bordenit commented on #224
This is true, as I experienced the same thing, but it is not a good solution for a Kubernetes deployment. The internal conditions to make something install properly should  not be exposed to the user running the helm commands, but should be managed via internal scripts. For my use case, I created a Jenkins job and a jinja template with a "first_install" condition. If "first_install" replicas == 1

[2021-08-18 05:12] bordenit commented on #230
I explain it to my security personnel as well, but always point to this:

https://hub.docker.com/r/atlassian/jira-software

I think this is more of a container fix than a helm chart deployment request.

[2021-08-18 05:18] bianchi2 commented on #230
@bordenit  good point. With that being said though, I think it won't hurt having SecurityContext fully configurable and flexible. This is one of the issues I have immediately run into when deploying to OpenShift where security context constraints are strict out of the box.

[2021-08-18 05:20] bordenit commented on #230
@bianchi2 Good point as well. SecurityContext parameters are common configurable helm values.

[2021-08-18 17:49] Forbzy opened #247 "Allow path based routing and setting path type for ingress resource."
**Describe the bug**
Can't connect to application when using path based routing. Unable to set path type for ingress resource. It has a fixed value of Prefix. Can we update the chart so this value can be provided by the developer. At the moment I can't seem to connect to my jira application from the browser.

**Existing Behaviour**
I'm interested in doing path based routing with jira and confluenc

[2021-08-18 17:58] Forbzy commented on #239
Thanks @errcode1202 below is what I did with the  values.yaml to help automate the steps you provided.
[code]

[2021-08-18 17:58] #239 closed

[2021-08-18 22:49] errcode1202 commented on #239
@Forbzy thats a great way of doing it too. As you're probably aware, one small implication of this approach is that these commands will be run every-time a new Pod joins the cluster. Because `shared-home` is a persisted volume once the driver is in place there is no need to keep adding it.

[2021-08-18 23:54] errcode1202 commented on #247
@nanux was this not addressed via: https://github.com/atlassian-labs/data-center-helm-charts/pull/134/files ?

[2021-08-19 01:16] Forbzy commented on #247
This looks like it makes the path configuration. Not the path type.

[2021-08-19 10:39] nanux commented on #247
@Forbzy, thank you for the feedback. Looking on the use case, I don't think changing the `PathType` would actually help in this case as you are trying to achieve an outcome when Jira is available on a Prefix path - https://my-host.com/jira. Comparing the [`Prefix` behavior](https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types) and your definition should give you the desired

[2021-08-20 14:37] Forbzy opened #254 "Jira doesn't use db host from dbconfig.yml"
**Describe the bug**
Jira seems to be using its own IP address for the pod instead of using the hostname defined in the dbconfig.yml
I created a mysql database using helm. I have a kubernetes service called mysql which exposes the traffic on the mysql pod.

Below is my dbconfig.yml

[code]
Below is the error log.

[code]

I've tried the fqdn below and got the same results.

mysql.NAMESPACE.svc.clu

[2021-08-21 02:05] nanux commented on #254
This seems more like a permission issue. Jira can connect to the database but `admin` user doesn't have access to the table. I would recommend following [Jira MySQL documentation](https://confluence.atlassian.com/adminjiraserver/connecting-jira-applications-to-mysql-8-0-1018775461.html#ConnectingJiraapplicationstoMySQL8.0-configuringmysql) and create a database and a specific jira user ahead of th

[2021-08-21 11:06] Forbzy commented on #254
I think you're right in that its a permissions issue. I'm using the mysql chart provided by bitnami. I've tried changing the permissions for the users. No effect so far. Below are the different commands I've tried.

[code]

I always make sure to run the below as well.
`flush privileges;`

Below is my mysql configuration.

[code]

[2021-08-22 14:10] bianchi2 commented on #254
@Forbzy  have you tried creating a dedicated user after MySQL chart gets deployed (as per [the following instructions](https://confluence.atlassian.com/adminjiraserver/connecting-jira-applications-to-mysql-8-0-1018775461.html#ConnectingJiraapplicationstoMySQL8.0-configuringmysql)), i.e. not rely on the user that gets created by Bitnami chart?

[2021-08-22 14:12] bianchi2 commented on #247
@nanux shouldn't it be possible to keep root context in the app itself and just add `rewrite-target: / ` annotation to the ingress object? I myself never tried that with any of Atlassian apps though.

[2021-08-22 15:20] Forbzy commented on #254
@bianchi2 I have. The strange thing about this is it was working the other day.  I havent changed any configurations. I've even tried root user.

[2021-08-23 03:49] badgersow commented on #254
I suggest to get Jira out of the equation and try to connect to the DB directly from the Pod. Something like this:

1. Connect to the pod
[code]

2. Install the mysql client on the pod
[code]

3. Try to connect to the database from the pod using the client
[code]

If this connection doesn't work as well, then we definitely know that something is wrong with the DB or network Configuration. More lik

[2021-08-23 05:30] bianchi2 commented on #254
I used Bitnami chart as well. @badgersow  good point, let's just use mysql client to connect and see what's going on.

[2021-08-23 08:17] Forbzy commented on #254
I managed to get it working. It looks like there is a compatibility issue between some mysql drivers and jira docker images. I was using images tagged with ubuntu like 8.18.1-ubuntu-jdk11 with mysql driver mysql-connector-java_8.0.26-1ubuntu20.04_all.deb. They were both 20.04 ubuntu so I thought they would work. In the end I found docker images 8.13.9-jdk11 and 8.18.1-jdk11 worked with mysql drive

[2021-08-24 04:01] tarka commented on #254
Good to hear it's working @Forbzy.

[2021-08-24 04:01] #254 closed

[2021-08-27 19:05] abhattarai-athene opened #278 "Multiple replication not working in latest version of JIRA"
The Cluster Cache Replication health check has failed in your system.

[2021-08-28 03:23] bianchi2 commented on #278
@abhattarai-athene could you please provide more info like logs, screenshots or just elaborate on what's happening when you scale Jira stateful set? Depending on what [exact error you see](https://confluence.atlassian.com/jirakb/cluster-cache-replication-health-check-fails-in-jira-server-738722400.html), troubleshooting steps will differ.

[2021-08-30 16:23] abhattarai-athene commented on #278
Hello @bianchi2 ,
Looking at clustering section from admin, I cannot get the details about jira-1. I cannot see much from jira logs about replications. Also running telnet command from inside pods jira-1, it was not able to resolve name jira-0.
![image](https://user-images.githubusercontent.com/71830702/131370942-8ee8ee0a-1a5f-4d97-b6e1-892b03c57ff5.png)

Below screenshot , you can see application

[2021-09-01 22:19] munjalpatel1 opened #287 "cannot load OBR file plugins using additionalBundledPlugins in values.yaml file."
We cannot load OBR file plugins using additionalBundledPlugins in values.yaml file. Jar file plugins works but for OBR file Jira is showing "This app couldn't be loaded. It has one or more errors that prevent it from being enabled."

[2021-09-01 22:56] errcode1202 commented on #287
Hi @munjalpatel1, so to confirm, you can load the `.jar` versions of the plugins but not the `.obr` versions? Can you also please provide the specifics on how you are loading these plugins.

[2021-09-02 00:20] errcode1202 commented on #287
Hi @munjalpatel1 it turns out that only `.jar`'s of the plugins can be loaded in this way. You can obtain the `jar` for a plugin by unarchiving the `obr`. The `jar` will be located within the top level dir of the extracted `obr` archive. For example in the case of the `insight` plugin:

[code]

[2021-09-02 01:31] errcode1202 commented on #278
Hi @abhattarai-athene, Jira [suffers with issues relating to indexing](https://confluence.atlassian.com/jirakb/troubleshoot-index-problems-in-jira-server-203394752.html) and clustering regardless of K8s. A number of these issues in particular are encountered more often when running Jira in a K8s cluster. These have recently been documented [here](https://atlassian.github.io/data-center-helm-charts

[2021-09-15 08:07] nanux commented on #278
Hi @abhattarai-athene, can you please confirm if this issue is the same as the one listed by @errcode1202? If it is the same, can you please close this ticket as we track the issue elsewhere and provide [workaround](https://atlassian.github.io/data-center-helm-charts/userguide/resource_management/RESOURCE_SCALING/#scaling-jira-safely)?

[2021-09-15 08:09] nanux commented on #247
@Forbzy can you please confirm whether you were able to solve the problem with one of the solutions listed in last two comments?

[2021-09-15 08:11] nanux commented on #230
@bordenit we are planning to tackle https://github.com/atlassian-labs/data-center-helm-charts/issues/80 soon to provide more flexibility. Would that be sufficient for your use case?

Changing the container to non-root will be more work on the image side.

[2021-09-15 08:15] nanux commented on #224
@jaegar10, I am closing the issue due to inactivity. If you still have the issue, can you please provide additional details after testing @errcode1202 recommendation?

[2021-09-15 08:15] #224 closed

[2021-09-15 08:16] nanux commented on #187
This is currently in progress https://github.com/atlassian/data-center-helm-charts/pull/265

[2021-09-15 12:07] abhattarai-athene commented on #278
The issue is resolve.

[2021-09-15 12:07] #278 closed, assigned to nobody

[2021-09-15 18:09] bordenit commented on #230
@nanux have not tested it, but seems like it would be an improvement/mitigation.

[2021-09-15 18:16] bordenit commented on #225
Just checking back to see if you would like me to submit a PR for this. When using context path the bug fix is:

'''
kubectl patch ingress -n jira-data enter jira-datacenter --type=json -p '[{"op": "replace", "path": "/spec/rules/0/http/paths/1/path", "value":"/synchrony"}]'
'''

[2021-09-16 11:44] hickeyma opened #302 "[Suggestion] - Library chart which contains common logic between Atlassian charts"
### Suggestion

There is a duplication of logic between charts. An examples of this  is the `fullname` definition which is duplicated in each of the charts. For example `bitbucket` and `jira` examples below:

[code]

[code]

These definitions are essentially the same logic which could be defined in one chart, a [Helm Library Chart](https://helm.sh/docs/topics/library_charts/#helm) and used between

[2021-09-16 12:14] hickeyma commented on #302
Pushed PR #303 which creates the library (common) chart and adds some of the common logic definitions. This also provides a PoC of the feature.

[2021-09-19 20:26] Forbzy commented on #247
Sorry for the late reply. @nanux your approach was correct. Creating the ingress resource alone like how @bianchi2 has done wouldn't be enough. You must taken into account the `jira.service.contextPath`.

Alternatively I got it working using a subdomain. I added to the subdomain jira.my-host.com to my /etc/hosts file. That simplified my ingress resource.

[2021-09-19 20:29] #247 closed

[2021-09-21 03:06] nanux commented on #302
Hi @hickeyma, this is an interesting change that we have considered as well. Thank you very much for the PR it is something we can test and see how to work with the current installations and going forward. We haven't introduced an "umbrella" chart as we didn't want to have explicit product dependency on other charts but with more duplication, this should make it easier for maintaining the helm cha

[2021-09-21 09:36] hickeyma commented on #302
@nanux That's great that you have considered it as it is cuts down on code repetition as its core benefit. For clarification, this is not an "umbrella" chart, it is a "common" or "library" chart which can be used by other charts. An "umbrella" chart composes the different parts of a complex application as one top level chart. See [Complex Charts with Many Dependencies](https://helm.sh/docs/howto/c

[2021-09-22 00:17] badgersow commented on #225
@nanux Do we want to accept the contribution here or this ticket is on our roadmap already?

[2021-09-26 10:04] dennisfischer opened #312 "[Suggestion] - Automatically roll StatefulSet if changes occur in ConfigMaps"
### Suggestion

#### Problem
The helm charts ship with at least one ConfigMap for each application, e.g., https://github.com/atlassian/data-center-helm-charts/blob/main/src/main/charts/jira/templates/config-jvm.yaml which can be updated by providing the respective values in `values.yaml`. However, the StatefulSet will not perform an update as it is not modified.

#### Details
An administrator migh

[2021-09-28 04:57] nanux commented on #312
@dennisfischer, I think you have a good point. Would you be able to raise a PR with the changes?

[2021-09-28 04:58] nanux commented on #185
@bordenit this has been merged and will be in the next release.

https://github.com/atlassian/data-center-helm-charts/pull/301

[2021-09-28 04:58] #185 closed

[2021-09-28 05:40] bianchi2 commented on #312
As a side note, there's a project https://github.com/stakater/Reloader which does the same. Helm built-in approach is better though. Changes to mounted cms and secrets should trigger rollout restart.

[2021-09-28 18:54] dennisfischer commented on #312
@nanux Will raise a PR with the changes once ready. I have already prepared the changes in my fork w.r.t. adding the checksums. Tests still tbd.

[2021-09-30 14:55] gerardgorrion opened #317 "[Suggestion] - Deploy into k8s only bitbucket solution in HA"
### Suggestion

We want to use a chart or some complete solution to deploy only bitbucket into kubernetes cluster (EKS for example) with HA. The database could be managed externally, Jira and elasticsearch are running and ready on our company.

Thanks

### Product

Bitbucket

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-04 04:47] bianchi2 commented on #317
@gerardgorrion not sure I understood the request correctly but have you tried deploying Bitbucket Helm chart alone?

[2021-10-05 03:12] smarch730 opened #318 "[Suggestion] - Making service sessionAffinity configurable"
### Suggestion

Hi All,

I have just started work on a PR to allow for service sessionAffinity to be configurable, but while skimming through previous PRs and Issues I cannot see this being discussed anywhere.

I'm having issues with keeping a session alive on Jira, and imagine ill run into the same issue on the other Atlassian apps too.

I'm using AWS ALB (through the AWS Load Balancer Controller

[2021-10-07 15:01] dennisfischer opened #324 "[Suggestion] - Always write Jira's dbconfig.xml when starting a new Pod"
### Suggestion

### Problem
As a user it is possible to run into wrong information in the `dbconfig.xml`. As a result, the Jira pod will not start (no connection possible) or will start, but show the Setup Jira dialog.

There are a few ways to run into an inconsistent state when following the recommended configuration of having a persistent local-home directory.
1. Deploy via Helm without database

[2021-10-08 00:42] #312 closed

[2021-10-18 03:10] #187 closed

[2021-10-20 01:01] #318 closed

[2021-11-02 22:22] errcode1202 commented on #324
Hi @dennisfischer,

Thanks for raising this. As you've pointed out, this scenario can be addressed by ensuring the `values.yaml` is configured with the database properties:

The database is in fact a required pre-requisite, which is documented:

- [Prerequisite guide - Provision DB](https://atlassian.github.io/data-center-helm-charts/userguide/PREREQUISITES/#provision-a-database)
- [Install guide

[2021-11-02 22:22] #324 closed

[2021-11-15 11:48] hickeyma commented on #302
Hey @nanux, any update?

[2021-11-16 03:43] #80 closed

[2021-11-23 07:56] pathob opened #350 "[Suggestion] - Allow setting TLS host(s)"
### Suggestion

Dear Atlassian charts team,

we would like to be able to set the TLS host(s) separately from the normal (rules) hosts to make it easier to work with wildcard certificates (issued e.g. with Letsencrypt) which is especially useful on pre-prod environments.

Example known from many other charts:

[code]

Thank you
Patrick

### Product

Jira, Confluence, Bitbucket, Other

### Code of C

[2021-11-29 10:21] nanux commented on #302
Hi @hickeyma, sorry it took some time, there were other moving pieces that I was working on. I think we are now at the point where we can start introducing the library chart. Do you think you can pick up the PR and update it to make it work with the latest changes?
Thank you

[2021-11-29 10:56] hickeyma commented on #302
@nanux Sure, will rebase it and push the update.

[2021-11-29 18:02] hickeyma commented on #302
@nanux I have updated PR #303, its waiting on approval to run the workflow.

[2022-01-11 02:48] nanux commented on #350
@pathob, can you please expand on the use case? Do you want to define a fully qualified domain name for the instance host and wildcard for TLS hosts? E.g. `ingress.host: jira.staging.example.com` and `ingress.tlsHost: *.staging.example.com`?

In our setup we are usually using ingress configuration that is described here:
https://atlassian.github.io/data-center-helm-charts/examples/ingress/INGRESS_

[2022-01-11 04:06] pathob commented on #350
Hi @nanux

Yes, exactly

I'm not sure whether I fully understand. Yes, we're also using the ingress configuration you mentioned. And we are also working with an issuer (`ClusterIssuer`) that can issue TLS certificates for the instance domain name (e.g. `jira.staging.example.com`). The problem is, that we cannot make the cert-manager issue or re-use existing wildcard-certificates in pre-production

[2022-01-11 04:42] nanux commented on #350
Thank you for the explanation. If you have a working example, would you mind raising a PR with the proof of concept and describe how to test the setup?

[2022-01-11 04:45] pathob commented on #350
I will get back to you soon, thanks

[2022-01-12 00:21] #302 closed

[2022-01-24 16:23] joshua-reddish opened #373 "[Suggestion] - Documentation on how to import configurations such as jira-config.properties"
### Suggestion

It would be helpful to have an example to reference in the values.yaml of how exactly we can import configurations such as jira-config.properties into the pod so that the we can manage all aspects of our cluster from that values.yaml

### Product

Jira

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-24 16:29] joshua-reddish opened #374 "[Suggestion] - Allow the ability to set more than one host on the ingress object"
### Suggestion

 We have mutliple URLs our users access Jira with, due to legacy setups. Currently we have to manually add another host to the ingress object, but it would be nice to include it in values.yaml so we can manage everything from there.

### Product

Jira

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-24 19:51] bianchi2 commented on #374
@joshua-reddish  that's a legitimate use case indeed. While current helm charts cannot support it, you may either create another ingress object outside Helm or use [Helm post render](https://helm.sh/docs/topics/advanced/#post-rendering) to alter an ingress object, say, with [Kustomize](https://austindewey.com/2020/07/27/patch-any-helm-chart-template-using-a-kustomize-post-renderer/).

I also think

[2022-01-24 23:11] errcode1202 commented on #373
Hi @joshua-reddish there are [a number of strategies that are documented](https://atlassian.github.io/data-center-helm-charts/examples/external_libraries/EXTERNAL_LIBS/) which can be used for sharing `jira-config.properties`  amongst your pods. The easiest option might be to add the file to the `shared-home` volume using [this approach](https://atlassian.github.io/data-center-helm-charts/examples/

[2022-02-07 17:31] #373 closed

[2022-02-08 07:28] konrad-garus opened #377 "Bitbucket readiness probe does not respect context path"
### Bug

I want to deploy Bitbucket on a context path like "/bitbucket".

I'm setting `service.contextPath=/bitbucket`. It updates `SERVER_CONTEXT_PATH` in YAML (which is great), but the readiness probe is still at "/status". As a result it's never "ready". I suspect the tests may have the same issue.

To get this to work in my setup, right now I'm using the following patch.

[code]

It looks like

[2022-02-09 09:04] konrad-garus opened #379 "Shared home emptyDir prevents k8s maintenance, autoscaling, etc."
### Suggestion

I want to run a single node of Bitbucket. I don't need shared home, I'm not gonna use it anyway.

The chart only seems to have 2 options for shared-home: `emptyDir` or `persistentVolumeClaim`. Even if the volume is not even going to be mounted, it will still be created.

This is causing some issues later, as k8s autoscaler won't evict a pod that has local storage.

It looks like a

[2022-02-14 01:47] #377 closed

[2022-02-14 01:49] yzha645 commented on #377
Hi @konrad-garus , thanks for raising this bug! It's now fixed, and will be included in release 1.2.0.

[2022-02-14 04:53] jjeongatl commented on #379
Hey @konrad-garus. Thanks for raising the issue.

For the bitbucket, mounting `persistentVolume` to shared home is mandatory (regardless of number of bitbucket nodes) as it will store key contents.

`emptyDir` will mount VM storage to pod however this is **ephemeral** volume therefore not recommended for production clusters.

For this case, you can use custom `persistentVolume` for shared home.

-

[2022-02-14 09:31] konrad-garus commented on #379
I find this a little strange.

When I just generate the template with no variables (`helm template atlassian-data-center/bitbucket`), I end up with `emptyDir` for `shared-home` in my StatefulSet `volumes` section, but it's not actually mounted anywhere. So it looks like this:

[code]

Looking at statefulset.yaml, it does seem to all be conditional:

[code]

[code]

I went ahead and deleted `shared

[2022-02-15 05:47] bianchi2 commented on #379
@konrad-garus right, this works for a single node deployment, but I guess  most things in Atlassian DC Helm charts assume scaling to 2+ replicas. Since shared home needs to be RWX, it needs its own dedicated PVC (or a direct NFS volume).

emptyDir is the default - a runtime volume which is gone when the pod is recreated.

[2022-02-15 07:39] konrad-garus commented on #379
Sure, I understand what it's for in multi-node DC. No questions there. That said, there are valid use cases for running it on a single node. Maybe you just don't need more, maybe it's a staging/test environment, etc.

That `emptyDir` is the worst of both worlds. It's useless for multi-node (and it's not even mounted!), and it's kind of breaking single-node. I had to patch it so that I could do k8s

[2022-02-15 09:20] bianchi2 commented on #379
Thanks for detailed explanation. I guess emptyDir here is rather a placeholder. Not sure what the best default is.

[2022-02-15 10:10] konrad-garus commented on #379
How about not generating the `shared-home` at all?

[2022-02-16 04:34] jjeongatl commented on #379
Hey @konrad-garus thanks for your suggestion.

What @bianchi2 mentioned is correct. The helm chart sets `emptyDir` as a default volume in case the `PVC` is not provided (At least to have something to mount).

But for bitbucket, `shared home` can be located under `local home` subpath and assuming that `PVC` was provisioned for `local home`, what you suggested might be a better option.

I created th

[2022-02-16 08:32] konrad-garus commented on #379
LGTM, thank you!

[2022-02-16 09:16] bianchi2 commented on #379
@jjeongatl  was faster :) I was about to issue a similar PR. @konrad-garus thanks again for detailed explanations.

[2022-02-23 08:03] rcabrerizo opened #388 "[Suggestion] - 0/1 nodes are available: 1 pod has unbound immediate PersistentVolumeClaims."
### Suggestion

0/1 nodes are available: 1 pod has unbound immediate PersistentVolumeClaims.

### Product

Jira

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-23 10:17] nanux commented on #388
@rcabrerizo this looks more like an issue you are experiencing rather than a suggestion for the product. Could you please elaborate with more details? Thank you

[2022-03-08 02:34] #388 closed

[2022-03-08 02:45] nghazali commented on #230
@bordenit , @mbach04, Do you think the enhancement in [This PR](https://github.com/atlassian/data-center-helm-charts/issues/80) (SecurityContext) can be used as a solution and mitigating this issue regarding security concerns?

[2022-03-08 02:51] nghazali commented on #141
@smarch730, as we not officially support Crowd Helm chart so this issue is not prioritised at the moment. However, if you would like to add the contribution, we happily accept the PR to address this issue.

[2022-03-18 20:37] athira-1142 opened #393 "Standalone Synchrony Pod run as root and securityContext does not exist for Synchrony"
### Suggestion

The standalone Synchrony pods for Confluence run as root, while the Confluence pods can run with a dedicated user.  While ```exec``` into the pod:
[code]

There is no securityContext available for standalone Synchrony in the values.yaml. Could you please suggest here?

### Product

Confluence

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-23 18:35] athira-1142 opened #398 "[Suggestion] - Allow the option to add annotations for Standalone synchrony service"
### Suggestion

We have to add annotations on the services to enable session affinity and create a health check (backend configuration). At present, we can add annotations through values.yaml only on confluence service. For standalone synchrony service, we have to add annotations after the application is deployed.

It would be great if there is an option to add annotations on Synchrony service in

[2022-04-05 04:58] errcode1202 commented on #398
Hi @athira-1142,

Thankyou for the suggestion. For context, and so we can understand better what you need, would you mind creating a PR with the changes and we can use that then as a talking point as a potential addition to `main`.

[2022-04-05 05:04] errcode1202 commented on #374
Hi @joshua-reddish,

We're going to close this issue. If the suggestions made by @bianchi2 with regards Kustomize are not sufficient, please by all means open a PR with your proposed changes and we'll look into getting that reviewed.

[2022-04-05 05:04] #374 closed

[2022-04-05 05:10] errcode1202 commented on #141
Hi  @smarch730,

We're going to close this issue. As suggested if you'd still like these changes please create a PR based on https://github.com/atlassian/data-center-helm-charts/issues/75 and we'll be happy to review.

[2022-04-05 05:10] #141 closed

[2022-04-06 03:29] errcode1202 commented on #230
Hi all, on account of there now being a mechanism in place for configuring the `SecurityContext` (see discussion and PR mentioned [here](https://github.com/atlassian/data-center-helm-charts/issues/80)) Im closing this issue for now. If there are still concerns on this front we can re-open it.

[2022-04-06 03:29] #230 closed

[2022-04-06 03:30] errcode1202 commented on #350
Hey @pathob,

Just wondering if you've had time to look into this yet? If not I might close this issue for now.

[2022-04-06 23:43] errcode1202 commented on #225
Hi @bordenit just wondering if you've had time to look into submitting a PR for this yet?

[2022-04-07 11:21] bordenit commented on #225
No I have not had time. If someone else wants to pick it up feel free.

[2022-04-12 12:28] ondrejbilcik opened #404 "[Bug] - Readiness probe fails, database driver unknown"
### Suggestion

Hi,

I'm running into some issues deploying the chart and would appreciate some pointers for troubleshooting.
My readiness probes are failing, with logs containing the following
[code]

I haven't been able to figure out why the database registers as Unknown, the config and the resulting env vars should be correct.

[code]
[code]

Thanks in advance

### Product

_No response_

### C

[2022-04-12 22:33] errcode1202 commented on #404
Hi @ondrejbilcik,

From the info you have supplied I cannot see anything immediately obvious that would cause this. For some more detail, would it be possible to supply the configured `values.yaml` you are using for this deployment?

[2022-04-13 22:39] errcode1202 opened #405 "Documentation consistency improvements"
### Suggestion

There are a few inconsistencies in the [official documentation](https://atlassian.github.io/data-center-helm-charts/) which can be improved. See https://bulldog.internal.atlassian.com/browse/DCD-1518 for details.

![image](https://user-images.githubusercontent.com/19516621/168726253-c89e0a39-dd36-435d-afd5-c9d7123eb2c1.png)

### Product

_No response_

### Code of Conduct

- [X] I

[2022-04-13 22:41] errcode1202 commented on #404
Yes this was my thought too, is it possible the url is malformed.

[2022-04-13 22:43] errcode1202 commented on #225
All good @bordenit, we'll look into getting this tee'd up on our end.

[2022-04-14 20:12] Wicaeed opened #406 "[Bug] - Unable to control some StatefulSet configurations with values.yaml"
### Bug

Hello, I am trying to activate clustering via the Helm chart and my values.yaml file, but not having any luck. It seems like the clustering value (and others, see below), do not result in the proper values being set in the StatefulSet object:

My (partial) values.yaml:
[code]

Chart.yaml (since we are using atlassian/data-center-helm-charts as a dependent Chart):
[code]

When I look at th

[2022-04-14 21:08] bianchi2 commented on #406
@Wicaeed so your pedendency chart is called jira. I guess you are missing another `jira` from values.yaml https://github.com/atlassian/data-center-helm-charts/blob/main/src/main/charts/jira/values.yaml#L375 - clustering is a child of jira. Can you please give it a try this way?

[code]

[2022-04-15 19:25] Wicaeed commented on #406
Suddenly the reason for helm alias fields is suddenly clear! :)

That was the reason for the clustering not being configured properly, thank you very much!

[2022-04-15 19:25] #406 closed

[2022-04-19 09:31] ondrejbilcik commented on #404
Hi,
Sorry, somehow missed the notifications about your replies.
Attaching the values.file and a bigger log dump. Thanks
[values.txt](https://github.com/atlassian/data-center-helm-charts/files/8511741/values.txt)
[logs.txt](https://github.com/atlassian/data-center-helm-charts/files/8511753/logs.txt)

[2022-04-19 22:45] bianchi2 commented on #404
@ondrejbilcik thanks for sharing the files. What I noticed in the logs is:

[code]
This is how Jira entrypoint works - if the dbconfig.xml exists, it's not overwritten. Perhaps, you passed some malformed value the first time you installed the Helm chart?

I'd suggest delete helm release, make sure PVCs are deleted as well.

OR you can exec into jira container and remove `/var/atlassian/application

[2022-04-20 12:13] ondrejbilcik commented on #404
@bianchi2 removing the file and killing the pod worked. Thanks a bunch.
[dbconfig.txt](https://github.com/atlassian/data-center-helm-charts/files/8519975/dbconfig.txt)

[2022-04-20 20:42] bianchi2 commented on #404
@ondrejbilcik awesome! Yes, currently, if you install the chart and pass malformed db related values, dbconfig.xml is messed and **not** overwritten when you run helm upgrade. This will be fixed as far as I know.

[2022-04-22 11:47] bordenit commented on #225
@errcode1202 I through something together, but will wait to create PR until my other PR is merged. I just removed the syncrhony ingress from values.yaml, and updated the other files to use /synchrony context path appended to the ingress.host variable. I think that kind of makes sense, since less than .01% of people are probably going to have an external synchrony service. Maybe it can be just an a

[2022-04-25 12:01] #404 closed

[2022-05-03 11:27] MrRedHead commented on #405
URL https://bulldog.internal.atlassian.com/browse/DCD-1518 is not public available?

[2022-05-17 04:03] yzha645 commented on #405
Hi @MrRedHead , DCD-1518 is an internal ticket to track this suggestion. I've updated the description to reflect the details.

[2022-05-18 06:44] jjeongatl commented on #379
Hey @konrad-garus PR is merged! I will close the ticket

[2022-05-18 06:44] #379 closed

[2022-05-23 15:04] caleb-devops opened #411 "[Suggestion] - Custom Docker image repository and tags for nfsPermissionFixer and Fluentd"
### Suggestion

Please update the Helm charts to support specifying the repository for the nfsPermissionFixer Docker image. In addition, please update the Fluentd values to support specifying the image repository independently from the image tag. These changes will enable deploying the charts in air gapped environments and allow overriding the Docker repository while preserving the default image t

[2022-05-23 21:26] bianchi2 commented on #411
Hi @caleb-devops! You suggestion does make sense. It's a perfect first issue to contribute. Would you be interested in raising a PR for this?

[2022-06-09 01:28] DarthKoax commented on #398
This is a feature that we have discovered would be very helpful for us. We have run into the issue also with our build where Synchrony's health check and stickiness are configured incorrectly due to inheriting from our confluence ingress annotations.

This is recommended by Atlassian to have stickiness on for confluence and off for synchrony, along with health check pointing to /status for conflue

[2022-07-06 05:42] #225 closed

[2022-07-18 15:47] coderDem opened #434 "Can't change namespace for nfs"
### Suggestion

Hello,

the provisioning script tries to set namespace wide security constraints, and for obivous devsecops considerations our account is only limited to namespace-wide definitions of SecurityContextConstraints, see the following error:

[code]

We tried passing the namespace name over the values.yaml in the helm chart as a normal key/pair value, but were unsuccessful. Could you pl

[2022-07-18 20:43] bianchi2 commented on #434
hi @coderDem did you try to install [this helm chart](https://github.com/atlassian-labs/data-center-terraform/tree/main/helm-charts/nfs-server) outside Terraform with `--debug`? There's nothing in it that would deal with SCC which is OpenShift API resource, and I struggle to understand why in your case Helm chart wants to get SCC.

With that being said, I'd like to kindly remind you about [support

[2022-07-19 13:21] coderDem commented on #434
Hello @bianchi2

thank you for your fast response.
We could deploy the helm chart by hand on our cluster see here:

[code]

But we still get the error. We don't know why the helmchart provider from Atlassian tries to get access to cluster-wide SecuityConstraintsContext objects ... and doesnt even seem to pass on the namespace name to the helm chart it is supposed to be deployed to, we have sent a

[2022-07-20 20:39] a880c05562b4f31a55f2975840ffb789 opened #435 ""Base URL mismatch" on redirect"
### Suggestion

Hello,

I deployed Atlassian Data Center Bitbucket into a Kubernetes cluster.  All Helm tests passed.  The application is running, and with one exception ("Base URL mismatch", see below) reports no issues.  Pre-deployment I changed the service "bitbucket" type to "NodePort".  The application is behind a load balancer, which forwards traffic from port 7990 to the service NodePort.

[2022-07-20 21:43] bianchi2 commented on #435
@a880c05562b4f31a55f2975840ffb789  can you please share your values.yaml as well as svc, ingress and sts yamls from runtime? It does look like misconfiguration issue on your side. You mentioned NodePort but you don't seem to be using it anywhere in your curl commands (it should be from an ephemeral range).

Getting connection refused in a container on localhost definitely rings a bell.

[2022-07-21 14:49] a880c05562b4f31a55f2975840ffb789 commented on #435
Hello @bianchi2,

That would not be my first choice, no, but I was preparing to send you a diff of our file "values.yaml" (with URLs and IP addresses redacted) with the default product values.yaml and other artifacts when I decided to switch from a NLB to ALB with explicit forward in AWS.  I'm not sure this change resolved the problem (I can't explain it), but there was a change in behavior: the b

[2022-07-21 14:49] #435 closed

[2022-07-21 19:34] RaimundasR commented on #224
I have same problem with statefulset of jira pod jira-1, its running but hangs on Readines probe failed: Http probe failed with statuscode: 500  i setted up with one replica first, also before created pv and pvc for local-home and shared-home, and then when jira worked i changes to replica 2 , so as i mention running but hangs on 500 status code. any suggestions?

[2022-07-24 22:34] bianchi2 commented on #224
@RaimundasR sharing both jira pod logs will definitely help. It is possible that index replication takes longer.

[2022-07-26 04:41] bianchi2 commented on #434
@coderDem there are no SCCs in NFS Helm chart templates. Can you confirm you haven't modified templates to add SCC objects to solve some permission issues on OpenShift (i.e. you are using [Helm chart](https://github.com/atlassian-labs/data-center-terraform/tree/b16ecd5a47d31c8f6f9600e156c470cf352bb64f/helm-charts/nfs-server/templates) as is?)?

I’d probably enable debug mode for Helm provider http

[2022-07-26 06:26] coderDem commented on #434
Hello @bianchi2

thank you for your reply. We are now know we need get a SecurityObject for our user and get the possibility to bind it,
to start the nfs server.

[2022-07-26 07:43] bianchi2 commented on #434
I suspect it's related to allowing anyuid since nfs server won't start as a user with a 1000008something uid (a range is per namespace)? Other than that I do not see anything in NFS stateful set that would prevent it from starting in OpenShift (not privileged, no host volume mounts, no direct volume mounts etc)

[2022-07-27 12:00] RaimundasR commented on #224
Ok so just question related to scale Jira , so what about pv, I need to create persistence volumes for second replica or it can read data from the same with RWX permission?  There are my logs of second pod
[code]

[2022-07-28 07:37] NandoTheessen opened #436 "[Suggestion] - Ability to provide license via secret"
### Suggestion

Currently, it isn't possible to provide the license in a secret or in a programmatical way.

This means that for every fresh installation, manual intervention is necessary and that an engineer will need access to the license key.

I'm not familiar enough with Jira to provide a pull request that makes this a reality, but would be happy to do so if you could give me a pointer on how

[2022-07-28 07:44] NandoTheessen commented on #436
I chose "Jira" as a product, but I'm sure this might also apply to other products.

[2022-07-28 07:46] NandoTheessen opened #437 "[Suggestion] - Allow smtp configuration via secret / chart"
### Suggestion

It isn't possible to configure SMTP credentials via the helm chart.
Again, this requires manual interaction and secret knowledge, which we'd like to avoid.

Again, happy to provide a PR if given a pointer on how to provide these credentials to Jira.

### Product

Jira

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-07-28 21:58] bianchi2 commented on #436
hi @NandoTheessen Jira [does not support unattended installation](https://github.com/atlassian/data-center-helm-charts/pull/394) but other DC products do - you can provide license secret and key in your values.yaml

[2022-07-28 22:11] bianchi2 commented on #437
Hi @NandoTheessen  while this is not supported out of the box (i.e. a dedicated secret for smtp) I think it should be possible to pass smtp props in setenv.sh and mount the entire file from a pre-created secret. In your values.yaml:

[code]

This way, you can pre-create the secret (or ConfigMap) with mailserver props in CATALINA_OPTS or JAVA_OPTS and it'll get mounted to the container. In theory i

[2022-08-02 10:54] JSRAF opened #438 "[Suggestion] - Should Bitbucket Smart Mirror have a livenessProbe?"
### Suggestion

I was wondering why the Helm chart does not have a option for setting up a livenessProbe for the Bitbucket Smart Mirror. There is a open port for the readinessProbe already there. Is there no need for a livenessProbe or should this be added in the future?

My other concern is about the Security Context of the Smart Mirror since it runs as the root [user](https://github.com/atlassia

[2022-08-09 00:57] nanux commented on #436
@NandoTheessen I will close the ticket as this is dependent on support in the Jira product. When the fully automated setup is added to Jira, we will add it also to the Docker/Helm Charts.

[2022-08-09 00:57] #436 closed

[2022-08-10 10:21] coderDem commented on #434
Hello @bianchi2

we are now not using the NFS anymore and using:  PersistentVolumeClaims for this.
So I will close this issue.

[2022-08-10 10:21] #434 closed

[2022-09-05 13:28] Zarrewitch opened #447 "[Suggestion] - Set Validationquery for Oracle"
### Suggestion

Currently the validationQuery for database connections is set to _select 1_ by default. But when configuring Oracle this leads to database Log-Errors because Oracle needs _select 1 from dual_ as validation Query. https://confluence.atlassian.com/conf76/surviving-database-connection-closures-1018769693.html

By extending the helm Charts e.g. _helpers.tpl this could be avoided/auto-d

[2022-09-05 21:00] bianchi2 commented on #447
hi @AlexanderOeser it's a [known issue](https://jira.atlassian.com/browse/SCALE-72) and currently the workaround is to set additional env var in value.yaml (which you know already). I think it'll be addressed soon, or else you're welcome to contribute as well.

[2022-09-06 01:24] jjeongatl commented on #447
@AlexanderOeser We created an internal ticket to handle this suggestion

[2022-09-06 01:36] jjeongatl commented on #438
Hi @JSRAF thanks for suggestion. Could you elaborate more on your suggestions. It would help us prioritising this if you could provide good use cases(PRs, examples etc...).

[2022-09-27 20:21] Jeremy-Boyle opened #452 "[Suggestion] - Bump Default Jira Version"
### Suggestion

Hello,

Could a new helm chart be cut for version `8.20.13`

The default value which is `8.20.10`(Released 23 June 2022) has the following security findings that have been fixed in `8.20.13` (21 September 2022)

[JRASERVER-73597](https://jira.atlassian.com/browse/JRASERVER-73597?src=confmacro)
[JRASERVER-73738](https://jira.atlassian.com/browse/JRASERVER-73738?src=confmacro)
[JRASE

[2022-10-01 11:51] mumbley opened #456 "[Suggestion] - Config files should be mounted configmaps"
### Suggestion

In the course of deploying the Jira helm chart as a 3 pod cluster, I am forced to do the following (limiting steps fro brevity)
Install the chart
- Log into the application
-  manually configure Postgres (there will be another ticket for this because the schema is not configurable in `values.yaml`
- Manually select other options
- Change the `values.yaml` `replicas: 2` https://atla

[2022-10-01 12:03] mumbley opened #457 "[Suggestion] - jira chart values.yaml is missing schema option for Postgres"
### Suggestion

The helm chart includes the following configurable items for the database
[code]
Which, is _nearly_ everything needed to populate the `dbconfig.xml` file, but, for Postgres it is missing the `schema` (see below block) and, possibly, because of this, the DB config has to be re-configured on first install (and install of subsequent cluster pods (see https://github.com/atlassian/data-

[2022-10-02 20:58] bianchi2 commented on #456
@mumbley I struggle to understand why you need to run Jira configuration tool after scaling (exec'ing into pod)? If local home pvc is lost for some reason, when a pod restarts, its local home will be re-populated. There's no need to do anything after scaling Jira to 2 or more replicas, other than wait until index replication finishes.

[2022-10-02 21:06] bianchi2 commented on #457
@mumbley thanks for this finding! Indeed, `ATL_DB_SCHEMA_NAME` env var can be added to container env, grabbing its value from values.yaml. Are you keen to raise this simple PR?

[2022-10-03 03:00] mumbley commented on #456
The reason I have to exec into the container after first startup (or after losing a PVC) is because of this https://github.com/atlassian/data-center-helm-charts/issues/457 which you have already replied to.

[2022-10-03 20:12] bianchi2 commented on #456
@mumbley I still don't quite get it. Yes, schema is missing and after the initial helm install you need to configure everything in the UI. After that, all you need to do is to scale statefulset. I don't see why exec is necessary at all.

[2022-10-04 08:27] konrad-garus opened #458 "[Suggestion] - Support single-node Jira deployments"
### Suggestion

It would be nice if the Jira chart supported single-node deployments. You don't always need the hassle and additional costs of additional volumes etc.

1. Make "shared home" optional. When it's disabled, don't create the `shared-home` volume, its corresponding volume mount, and the `JIRA_SHARED_HOME` env var.
2. Enable separation of liveness and readiness probes. Let us configure t

[2022-10-04 08:37] konrad-garus opened #459 "[Suggestion] - Support single-node Confluence deployments"
### Suggestion

It would be nice if the Confluence chart supported single-node deployments. You don't always need the hassle and additional costs of additional volumes, processes (Synchrony) etc.

1. Make "shared home" optional. When it's disabled, don't create the shared home volume, its corresponding volume mount, or the `ATL_PRODUCT_HOME_SHARED` env var.
2. Support using in-process Synchrony. W

[2022-10-10 23:01] #452 closed

[2022-10-14 06:05] konrad-garus commented on #459
Why not get rid of shared home? Confluence is perfectly happy without it, as long as it's a single-node deployment. Which is what I'm asking for here.

In fact, we've recently talked about it for Bitbucket: https://github.com/atlassian/data-center-helm-charts/issues/379.

Right now I'm using Kustomize for it and it works just fine. What I'm suggesting here is to make it a part of the official char

[2022-10-22 06:31] bianchi2 commented on #459
Hi @konrad-garus sorry for not getting back to you earlier. Your Kustomize now makes sense to me. One question though - what's local-home volumeMount is replaced with?

I guess, we may add a few conditions to drop shared home env var and shared home volumeMount and volume altogether.

As to the synchrony, as far as I understand you may control everything in values.yaml through additional jvm args?

[2022-10-25 00:18] #393 closed

[2022-10-25 00:20] #411 closed

[2022-10-30 23:40] #398 closed

[2022-11-16 20:10] bianchi2 commented on #350
@pathob I can see what you are trying to achieve here. I was just wondering if wildcard works for you in `rules[0].host`. Obviously not, otherwise you'd never raise this  issue. The change should be pretty straightforward:

[code]
and in values have `ingress.tlsHost` or even better a list of hosts (then the syntax in ingress template will be different).

[2022-11-16 20:11] bianchi2 commented on #405
Closed by https://github.com/atlassian/data-center-helm-charts/pull/463

[2022-11-16 20:11] #405 closed

[2022-11-16 20:22] bianchi2 commented on #456
@mumbley you can create those configmaps yourself and use `additionalFiles` in [values.yaml](https://github.com/atlassian/data-center-helm-charts/blob/main/src/main/charts/jira/values.yaml#L774).  The changes you suggest are not in the scope of just Helm deployment. When the initial configuration is completed, shared home PVC has some critical files, and this PVC needs to be backed up so that you

[2022-11-16 20:23] bianchi2 commented on #458
Closing in favor of https://github.com/atlassian/data-center-helm-charts/issues/459

[2022-11-16 20:23] #458 closed

[2022-11-16 20:38] bianchi2 opened #480 "[Suggestion] - Make readiness and liveness probes configurable"
### Suggestion

It's be great to enable separation of liveness and readiness probes. Let us configure the readiness probe so that it only checks the tcpSocket. Jira has a nice loading splash screen, let us see that. Move the /status health check to liveness probe

### Product

Jira

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-17 07:23] bianchi2 commented on #457
@mumbley having looked at it closer, it turns out schema is [automatically set to public for postgres](https://bitbucket.org/atlassian-docker/docker-atlassian-jira/src/1ec23243e8655a3b5f2a3ccb85a70f9ab023265b/config/dbconfig.xml.j2#lines-14):

[code]
While this env is indeed missing in values.yaml this should not cause any issues, and schema should make it to dbconfig.xml.

[2022-11-17 09:06] bianchi2 commented on #456
@mumbley I have just deployed jira to my test EKS cluster. The sequence was:

* deploy with shared home and local home PVCs and database properties in values.yaml
* once deployment is finished, complete installation in UI (set Jira home, provide license, create admin user)
* scale statefulset to 2

I struggle to understand why you have to exec into pods. I assume there's a misconfiguration issue o